*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
.clearfix::after{
    display: block;
    content: "";
    clear: both;
}

header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("./img/carousel-1.jpg");
}
.main-header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header h1{
    font-size: 60px;
    color: white;
    margin-left: 30px;
}

 .main-header nav{
     width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main-header nav a {
    text-decoration: none;
    color: white;
    font-size: 23px;
    font-weight: 600;
}

.main-header nav a:hover{
    color: #e41c26;
}

.main-text{
    width: 50%;
    height: 60%;
    margin: 0 auto;
}

.main-text h4{
    font-size: 23px;
    text-align: center;
    margin-top: 130px;
    color: #e41c26;
}

.main-text h1{
    font-size: 70px;
    text-align: center;
    padding-top: 30px;
}

.main-text button{
    background: transparent;
    padding: 20px;
    width: 25%;
    font-size: 19px;
    font-weight: 600;
    color: white;
    border: 2px solid white;
    position: relative;
    left: 250px;
    top: 50px;
    transition: 2s;
}

.main-text button:hover{
    background-color: #e41c26;
    transform: scale(1.2);
}

/* HEADER AND BANNER ENDS HERE */


main{
    width: 100%;
    height: 70vh;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main h1{
    font-size: 45px;
}

main p{
    font-size: 18px;
    line-height: 30px;
}

main button{
    background:transparent;
    padding: 10px;
    width: 25%;
    font-size: 20px;
    border: 2px solid white;
    color: white;
    transition: 1s;
}



main .left{
    width: 40%;
    height: 80%;
    background-color: #e41c26;
    margin-top: 50px;
    position: relative;
    left: 50px;
}

.left h1{
    text-align: right;
    margin-top: 60px;
    padding-right: 50px;


}
.left p{
    text-align: right;
    padding-right: 50px;
    margin-top: 10px;
    padding-left: 20px;
}

.left button{
    position: relative;
    left: 355px;
    top: 24px;
    
}

.left button:hover{
    background-color: #353a40;
    transform: rotate(360deg);
}

main .right{
    width: 40%;
    height: 80%;
    background-color: #353a40;
    margin-top: 50px;
    position: relative;
    right: 18px;
}

.right h1{
    margin-top: 60px;
    padding-left: 40px;
}

.right p{
    padding-left: 40px;
    margin-top: 10px;
    padding-right: 20px;
}

main .right button{
    position: relative;
    left: 40px;
    top: 24px;
}

.right button:hover{
    background-color: #e41c26;
    transform: rotate(360deg);
}


/* EXPERIENCE STARTS HERE AND MAIN SECTION ENDS HERE */

.experience{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

.experience .left1{
    width: 40%;
    height: 100%;  
    margin-left: 40px;
}

.experience .left1 img{
    width: 100%;
    height: 100%;
}

.right1{
    width: 40%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    margin-top: 50px;
    right: 20px;
}
.right1 .head-text{
    width: 100%;
    height: 30%;
  
}

.head-text h1{
    color: #353a40;
    font-size: 50px;
    font-weight: 700;
}

.head-text p{
    color: grey;
    font-size: 19px;
    line-height: 30px;
}


.right1 .below-left{
    width: 50%;
    height: 40%;
    margin-top: -70px;
}

.below-left h1{
    font-size: 23px;
    color: #353a40;

}
.below-left p{
    font-size: 19px;
    color: gray;
    line-height: 30px;
}
.right1 .below-right{
    width: 50%;
    height: 40%;
    margin-top: -70px;

}

.below-right h1{
    font-size: 23px;
    color: #353a40;

}
.below-right p{
    font-size: 19px;
    color: gray;
    line-height: 30px;
}

.below-left button{
    width: 47%;
    padding: 10px;
    background-color: transparent;
    border: 2px solid #e41c26;
    color: #e41c26;
    font-size: 20px;
    position: relative;
    top: 40px;
}

.below-left button:hover{
    background-color: #e41c26;
    color: white;
}


/* EXPERIENCE END HERE AND BELOW EXPERIENCE BOXES STARTS HERE */

.boxes{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
    margin-top: 60px;
    margin-bottom: 60px;
 
}

.boxes .box{
    width: 33%;
    height: 50vh;
}

.box h3{
   font-size: 30px;
   font-weight: 900;
   margin-top: 60px;
   padding-left: 50px;

}

.box p{
    font-size: 18px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    text-align: justify;
}

.box-l{
    background-color: #111111;
    position: relative;
    left: 10px;
}

.box-m{
    background-color: #e41c26;
}
.box-r{
    background-color: #111111;
    position: relative;
    right: 10px;
}



/* EXPERIENCE ENDS HERE AND BENEFITS STARTS HERE */

.benefits{
    width: 100%;
    height: 90vh;
}
.benefits h4{
    color: #e41c26;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
}
.benefits h1{
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    color: #353a40;
    margin-bottom: 30px;
}

.benefit-boxes{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

.benefit-boxes .bbox{
    width: 45%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.bbox img{
    width: 40%;
    height: 90%;
    position: relative;
    right: 20px;
}

.bbox h2{
    font-weight: 700;
    color: #353a40;
    position: relative;
    right: 40px;
}

.benefits .bbox p{
    font-size: 17px;
    width: 50%;
    color: gray;
    position: relative;
    top: -120px;
    left: 155px;
    text-align: justify;
}

#fbox img{
    margin-left: 25px;
}

#fbox h2{
    margin-left: 10px;
}



/* BENEFITS ENDS HERE AND NEWSLETTER STARTS HERE */

.newsletter{
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("./img/bg.jpg");
    margin-top: 60px;
    margin-bottom: 60px;
    color: white;
}

.newsletter h1{
    font-size: 50px;
    text-align: center;
    padding-top: 70px;
    font-weight: 800;
}

.newsletter h4{
    font-size: 20px;
    font-weight: 100;
    text-align: center;
}

.newsletter input{
    width: 24%;
    height: 14%;
    margin-left: 460px;
    margin-top: 30px;
}
.newsletter input::placeholder{
    font-size: 20px;
    padding-left: 20px;
}

.newsletter button{
    padding:13px;
    background-color: #e41c26;
    color: white;
    font-size: 20px;
    font-weight: 200;
    border: none;
    position: relative;
    top:3px;
    right:4px
}

.newsletter button:hover{
    background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),#e41c26;
}